button.person-button {
  height: 100px;
  width: 100px;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease;
}
button.person-button:active {
  transform: scale(1.1);
}

button.person-button.current {
  font-weight: bold;
}

button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}